body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

main{
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ong-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.ong-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.ong-data-content{
  display: flex;
}

.ong-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.ong-image {
  width: 30vw; /* 30% of the viewport width */
  height: auto;
  margin-right: 20px;
}

.ong-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.donation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.donation-amount,
.donation-button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}

.donation-amount {
  margin-bottom: 20px;
}

.donation-button {
  color: #fff;
  background-color: #E5563B;
  border: none;
  cursor: pointer;
}