body {
  margin: 0;
  font-family: sans-serif;
}

main {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ong-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.payment-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.ong-data-content {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 50px;
}

.ong-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.qr-code {
  width: 30vw;
  height: auto;
  margin-right: 20px;
}

.ong-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.donation-value,
.done-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}

.donation-value {
  margin-bottom: 20px;
}

.done-btn {
  color: #fff;
  background-color: #e5563b;
  border: none;
  cursor: pointer;
}

.ong-name {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}