body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
}

#get-ongs{
    grid-column: 2;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #009EDB;
}

main ul, .ong-info {
    grid-column: 2;
}

main form input[type='text']{
    width: 80%;
    height: 2vh;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.11);
    padding: 15px;
}

main form input[type='text']:focus{
    border: 2px solid #009EDB;
    outline: none;
}


.ong-dialog{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


