body{
    margin: 0;
    font-family: sans-serif;
}

main{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}

#get-ongs{
    grid-column: 2;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #009EDB;
}

main ul, .ong-info {
    grid-column: 2;
}

main form input[type='text']{
    width: 80%;
    height: 2vh;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.11);
    padding: 15px;
}

main form input[type='text']:focus{
    border: 2px solid #009EDB;
    outline: none;
}

.ong-dialog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 10px 0px;
}

.ong-dialog > input {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.11);
    padding: 15px;
}

#ong-dialog {
    background-color: white;
    color: #000000;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
    width: 20vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

#login-submit {
    background-color: #009EDB;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
}

#open-login {
    background-color: white;
    color: #000000;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
}

#close-modal-btn:hover {
    cursor: pointer;
}